footer{
    h4{
        text-align: right;
        
    }
    section{
        div{

                a{
                    text-decoration: none;
                    &:hover{color: red;}
                }
                list-style: none;
                text-align: center;
                text-decoration: none;
                display: flex;
                justify-content: space-between;
            }
            
        }
        margin-top: 1px;
        border-top: 1px red solid;
}
    


  