$color-Titulos:black;

main{
    section{
         h1{
            text-align: center;
            color: rgba(255, 30, 0, 0.815);
            font-size: 50px;
            margin-top: 2px;
            margin-bottom: 3px;
            display: flex;
         }
         h2{
            color: $color-Titulos;
            font-size: 2rem;
            margin-top: 10px;
            margin-bottom: 6px;
         }
         p{
            color: $color-Titulos;
            font-size: 19px
         }
         img{
            width: 34rem;
            height: 20rem;
         }
    }
}